<div class="sharebuttons">
  <hr />
  <ul>
    <li class="facebook">
      <a href="https://www.facebook.com/garlowc" target="_blank">
        {% include social/facebook.svg %}
      </a>
    </li>
    <li class="instagram">
      <a href="https://www.instagram.com/garlowc/" target="_blank">
        {% include social/instagram.svg %}
      </a>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/garlowc" target="_blank">
        {% include social/twitter.svg %}
      </a>
    </li>
    <li class="linkedin">
      <a href="https://www.linkedin.com/in/caitlingarlow/" | uri_escape}}" target="_blank">
        {% include social/linkedin.svg %}
      </a>
    </li>
  </ul>
  <ul>
    <li class="medium">
      <a href="https://medium.com/@caitlingarlow" target="_blank">
        {% include social/medium.svg %}
      </a>
    </li>
    <li class="snapchat">
      <a href="https://www.snapchat.com/add/garlowc" target="_blank">
        {% include social/snapchat.svg %}
      </a>
    </li>
  </ul>
</div>